apiVersion: v1
kind: Secret
metadata:
  name: validator-{{VALIDATOR_NAME}}-keys
  namespace: provider
type: Opaque
stringData:
  # Using deterministic test mnemonics for validators
  mnemonic: "{{VALIDATOR_MNEMONIC}}"
  address: "{{VALIDATOR_ADDRESS}}"